<div class="about">
    <div class="about__sec-link">
      <img src="/assets/icons/link.svg" alt="Close Icon" class ="about__sec-link-svg">
    </div>
  
    <div class="about__social-box">
      <img src="/assets/imgs/me.webp" alt="Preston Mcintire" class="about__social-pfp">
      <div class="about__social-title">Socials</div>
  
      <div class="about__btn-row">
        <span class="about__social-btn btn__cyan" onclick="window.location.href = '#';">Github</span>
        <span class="about__social-btn btn__blue" onclick="window.location.href = '#';">Email</span>
      </div>
    </div>
  
    <div class="about__content">
      <div class="about__title">Preston Mcintire</div>
      <div class="about__desc">
        Hi, I'm Preston. I am a programmer and a web developer. I have been programming for about 3 years. 
        I started originally in 2020 with the programming language Scratch, and I have since moved on from 
        Scratch to other programming languages. Now I use JavaScript, HTML, CSS, and some Python. This 
        website is my home base for information about me, my projects, and other cool stuff I find interesting.
      </div>
    </div>
  </div>