<div class="quicknav">
    <div class="quicknav__title">Quicknav</div>
    <div class="quicknav__btn-row">
        <span class="quicknav__btn btn__red" onclick="window.location.href = '#';">Blog</span>
        <span class="quicknav__btn btn__cyan" onclick="window.location.href = '#';">Images</span>
        <span class="quicknav__btn btn__blue" onclick="window.location.href = '#';">Code</span>
        <span class="quicknav__btn btn__darkblue" onclick="window.location.href = '#';">Contact</span>
        <span class="quicknav__btn btn__purple" onclick="window.location.href = '#';">Hire Me</span>
        
    </div>
</div>