body {
    font-family: Arial, Helvetica, sans-serif;
    /* arial is the default font*/
    background-color: #1D2228;
    color: #E1E8F5;
}

.herotext {
    padding: 60px;
    background: #161A30;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 70px;
    /* 70px to space out the hero text from the main body of the page*/
}

.img1 {
    /*Image for hero*/
    margin-right: 10px;
    background-size: 50px 50px;
}

/* hyperlink */
:link {
    color: #474747;
}

:visited {
    color: #474747;
}

/* fix centering issue*/
.fttcimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


/* Adding margins */
.overview {
    margin-top: 140px;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
}

.majors {
    margin-top: 120px;
    font-size: 20px;

    border-radius: 25px;
    padding: 20px;
    border: 2px solid #7021ad;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    background-color: #191919;
}

.instructor {
    margin-top: 120px;
    font-size: 20px;
}

.quotes {
    margin-top: 120px;
    font-size: 20px;
}

.contact {
    margin-top: 120px;
    font-size: 20px;

    border-radius: 25px;
    padding: 20px;
    border: 2px solid #7021ad;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 240px;
    background-color: #191919;
}

.policy {
    margin-top: 120px;
    margin-bottom: 80px;
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
}